<div fxLayout="row wrap">
  <div fxFlex="100%" fxLayoutAlign="start" class="mt-2">
    <a mat-button routerLink="/labels" style="margin-left: 20px" ngStyle.lt-md="margin-left: 0px">
      <mat-icon class="mat-18">arrow_back</mat-icon>
    </a>
  </div>
  <h2 fxFlex="100%" class="my-4 text-center text-roboto" fxFlexAlign="center">Crear etiqueta</h2>
  <div fxFlex fxLayout="column" style="padding: 0 10%" ngStyle.lt-md="margin-top: 20px">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input matInput placeholder="Nombre de la etiqueta">
      <mat-icon matSuffix>info</mat-icon>
    </mat-form-field>
    <h2 class="text-roboto">Seleccionar color</h2>
    <div fxLayout fxLayout.lt-sm="column" fxLayoutGap.lt-sm="20px" fxLayoutAlign="space-around center">
      <color-twitter fxFlexOrder.lt-sm="2" width="none" ngStyle.gt-xs="width: 276px" [color]="colorSelect" triangle="hide" [colors]="this.colorsOfPicker" (onChangeComplete)="onChangeColor($event)"></color-twitter>
      <div fxFlexOrder.lt-sm="1" class="color-icon" [style.background-color]="this.colorSelect"></div>
    </div>
  </div>
  <div fxFlex="100%" fxLayoutAlign="center" class="my-4">
    <button mat-raised-button color="primary" >Agregar</button>
  </div>
</div>
