<mat-sidenav-container class="drawer">
  <mat-sidenav  #drawer mode="over" style="width:300px" ngStyle.gt-sm="width:350px" >
    <div fxFlex="100%" fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center center" fxFlex="150px" [class.mat-elevation-z2]="true" class="bg-header-drawer">
        <h1 class="title" ngClass.lt-sm="text-xl">AppShareExpenses</h1>

        <a mat-list-item routerLink="/" style="height: 0;"></a>
        <button mat-mini-fab [class.mat-elevation-z0]="true" aria-label="inicio" style="margin-bottom: -60px" ngStyle.lt-sm="margin-bottom: -80px" routerLink="/home" (click)="onClickDrawer(false)">
          <mat-icon>home</mat-icon>
        </button>
      </div>
      <div fxFlex="100%">
        <mat-nav-list class="mt-2" >
          <a mat-list-item routerLink="/pms"
             routerLinkActive="list-item-active" (click)="onClickDrawer(false)"><mat-icon matListIcon class="mat-18">payment</mat-icon>Formas de pago</a>
        </mat-nav-list>
        <mat-nav-list>
          <a mat-list-item routerLink="/labels"
             routerLinkActive="list-item-active" (click)="onClickDrawer(false)"><mat-icon matListIcon class="mat-18">label</mat-icon>Etiquetas</a>
        </mat-nav-list>
      </div>
    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <app-profile></app-profile>
  </mat-sidenav-content>
</mat-sidenav-container>


